include *.txt
recursive-include docs *.txt
include README.md
include LICENSE.txt
recursive-include topogram/*.py
recursive-include topogram/languages/*.py
recursive-include topogram/topograms/*.py
recursive-include topogram/corpora/*.py
include *.py
include LICENSE
recursive-include examples *.csv
recursive-include examples *.md
recursive-include examples *.py
recursive-include tests *.csv
recursive-include tests *.py
recursive-include topogram *.big
recursive-include topogram *.py
recursive-include topogram *.txt
